# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# Uploads
uploads/*
!uploads/.gitkeep

# Prisma
prisma/migrations/
prisma/*.db
prisma/*.db-journal

# Logs
*.log
